<div class="sign-up-form">
  <%= form_for @user do |f| %>
    <%= f.text_field :email, placeholder: "Email" %>
    <br>
    <%= f.password_field :password, placeholder: "Password" %>
    <br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <%= f.submit "Create Account" %>
  <% end %>
</div>