<%= render partial: "new_link" %>
  <h2>All Your Links</h2>
  <input id="search" placeholder="Search Links">
  <button id="findRead">Show Read</button>
  <button id="findUnread">Show Unread</button>
  <button id="sort">Sort</button>
<section class="links">
  <% @links.each do |link| %>
    <ul class="<%= 'striked' if link.read %>" id="link-<%=link.id%>" data-id="<%= link.id %>">
      <li class="link-title" contenteditable="true"><%= link.title %></li>
      <li class="link-url"  contenteditable="true">
          <a href="<%= link.url %>"><%= link.url %></a>
      </li>
      <label><input class="read-box" type="checkbox" value="<%= link.read %>">Mark As Read</label>  
    </ul>
  <% end %>
</section>